.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: nowrap;
    align-content: normal;
    gap: 16px;
    height: 400px;
}

.item-1 {
    flex-basis: 100px;
}

.item-2 {
    flex-basis: 100px;
}

.item-3 {
    flex-basis: 100px;
}
.voltar-btn {
    margin-bottom: 5%;
    display: inline-block;
    margin-top: 30px;
    background-color: #2a75bb;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
    border: 4px solid #000;
    font-size: 14px;
    text-decoration: none;
    box-shadow: 4px 4px 0px #000;
    transition: 0.15s ease-in-out;
}

.voltar-btn:hover {
    background-color: #1d5c99;
    transform: translate(-3px, -3px);
    box-shadow: 7px 7px 0px #000;
}

.voltar-btn:active {
    transform: translate(0px, 0px);
    box-shadow: 4px 4px 0px #000;
}