.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    align-content: space-between;
    gap: 16px;
    height: 400px;
}

.item-1 {
 flex-basis: 100px;
    align-self: flex-end;
}

.item-2 {
    flex-basis: 100px;  
}

.item-3 {
    flex-basis: 100px;
}