.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 16px;
}

.item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.item-5 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.item-6 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}