.grid-container {
    display: grid;
    grid-template-columns: 2, 1fr; 
    grid-template-rows: 2, 1fr;    
    gap: 16px;
}

.item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.item-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.item-3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}