.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 100px;
}

.item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.item-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.item-3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.item-5 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}
.voltar-btn {
    display: inline-block;
    margin-top: 30px;
    background-color: #2a75bb;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
    border: 4px solid #000;
    font-size: 14px;
    text-decoration: none;
    box-shadow: 4px 4px 0px #000;
    transition: 0.15s ease-in-out;
}

.voltar-btn:hover {
    background-color: #1d5c99;
    transform: translate(-3px, -3px);
    box-shadow: 7px 7px 0px #000;
}

.voltar-btn:active {
    transform: translate(0px, 0px);
    box-shadow: 4px 4px 0px #000;
}